.hbtn {
    height: 40px;
    width: 90px;
    border: 1px solid var(--header-text);
    border-radius: 8px;
    background-color: transparent;
    margin: 15px;
    color: var(--header-text);
    transition: 0.5s;
}

.hbtn:hover {
    background-color: var(--btn-bg);
}

@media (max-width: 800px) {
    .ph {
        padding: 0;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .phn {
        font-size: 30px;
    }
}